[user]
  name = Gyuri Horak
  email = dyuri@horak.hu
  signingkey = 4993F07B3EAE8D38

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  dt = difftool --no-symlinks --dir-diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  mt = mergetool
[merge]
  tool = nvim
  stat = true
  conflictstyle = diff3
[rebase]
  stat = true
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  # pager = diff-so-fancy | less --tabs=4 -RFX
  pager = delta
[push]
	default = simple
	autoSetupRemote = true
[pull]
  rebase = true
[mergetool]
  prompt = false
  path = nvim
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[diff]
  tool = kitty
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[commit]
  gpgsign = true
[init]
	defaultBranch = main
[delta]
  plus-style = "syntax #014800"
  minus-style = "syntax #640001"
  syntax-theme = Monokai Extended
  navigate = true
[interactive]
  diffFilter = delta --color-only
[safe]
	directory = /mnt/nas/www/prezik/txtpresentations
	directory = /mnt/nas/www/jsbottle
	directory = /mnt/nas/www/
	directory = /mnt/nas/www/repa-css-mesh
